spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/acaipay
    username: postgres
    password: secret
    driver-class-name: org.postgresql.Driver
    
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 8080

logging:
  level:
    com.acaipay: DEBUG

jwt:
  secret: mySuperSecretKeyForAcaipayApplicationChangeThisInProduction123!
  expiration: 86400000  # 24 horas em milissegundos

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          secret-value: ${jwt.secret}